.body {
  font-family: arial, sans-serif;
}

.button-current-location {
  margin: 10px 10px;
  padding: 5px 10px;
  display: block;
  width: 140px;
  text-align: left;
  background-color: aliceblue;
  border: 0px solid;
  color: rgb(0, 68, 255);
  border-radius: 5px;
  font-size: 12px;
  transition: all 200ms ease-in-out;
}

.button-current-location:hover {
  cursor: pointer;
  background-color: rgb(0, 68, 255);
  color: white;
}

#current-weather {
  background-color: aliceblue;
  position: relative;
}

#forecast {
  background-color: transparent;
}

.card-header {
  text-align: center;
  display: block;
  width: auto;
  padding: 10px 20px;
  font-size: 12px;
  background-color: transparent;
}

.city-selected {
  display: block;
  text-align: left;
}

.row .coming-hours {
  width: auto;
}

.container {
  margin: 20px auto;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  background-color: white;
  filter: drop-shadow(0px 0px 5px #e7e7e7);
}

.col-2 {
  display: inline-block;
  border: 0;
  font-weight: 700;
  background-color: transparent;
  margin: 10px auto;
  padding: 5px;
}

.col-2:hover {
  font-weight: 700;
  background-color: aliceblue;
}

.col-2 .card-title {
  color: rgb(75, 75, 75);
  font-size: 12px;
}

.col-2 .card-temp {
  color: rgb(0, 68, 255);
  font-size: 16px;
  display: inline-block;
  margin: 0;
}

.col-3 {
  align-self: center;
}

.credits {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.current-hour {
  font-weight: 700;
}

.date {
  color: black;
  font-size: 12px;
  margin: 0;
}

hr {
  color: rgb(179, 179, 179);
  margin: 0;
}

#search-city {
  display: block;
  text-align: left;
}

#search-input {
  text-align: left;
  font-size: 14px;
  position: relative;
}

.weather-forecast {
  margin: 0px 20px;
}

.unit {
  background-color: transparent;
  border: 0px solid;
}

.unit:hover {
  color: rgb(0, 68, 255);
}

.weather-forecast {
  margin: 10px 20px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-specs {
  position: absolute;
  bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

li:first-letter {
  text-transform: capitalize;
}
